*.a
*.user
*.dll
*.exe
*.pdb
*.suo
*.obj
*.filter
*.exp
*.ilk
*.log
*.manifest
*.lastbuildstate
*.tlog
*.res
*.rc
*.idb
*.map
*.pch
*.filters
*.sdf
*.opensdf
*.ncb
*.dep
*.htm
*.bat
*.ib_tag
*.ib_pdb_index

# Folders
/Tags/Main/Bin/
/Tags/Main/Projects/Applications/TestApp/GeneratedFiles/*.*
/Tags/Main/Projects/Applications/TestApp/GeneratedFiles/ui_MainWindow.h
/Bin/*.*
# Qt MOC Files
moc_*.cpp
